:root[data-theme-mode=light] {
    /* ------------------------自定义样式------------------------ */

    /* 透明组件颜色 */
    --custom-transparent-lighter: #ebeaf015;
    --custom-transparent-light: #ebeaf045;
    --custom-transparent: #ebeaf075;
    --custom-transparent-deep: #ebeaf0a5;
    --custom-transparent-deeper: #ebeaf0d5;

    /* 不透明的组件颜色 */
    --custom-components-light: #fff;
    --custom-components: #f6f6f6;
    --custom-components-deep: #d9d9d9;
}

/* PDF */
.textLayer,
.pdf__resize {
    /* dark 蓝色、紫色背景显示不清楚，文档位于 https://github.com/siyuan-note/siyuan/issues/5351 */
    mix-blend-mode: multiply;
}

.b3-typography div.hljs, .protyle-wysiwyg div.hljs {
    background-color: #f8f9fa;
}