:root {
    /* 背景图片 */
    --custom-background-image: url(/appearance/themes/Lite/image/background.png);
    
    /* 透明组件颜色 | Transparent component color */
    --custom-transparent-lighter: #ebeaf015;
    --custom-transparent-light: #ebeaf045;
    --custom-transparent: #ebeaf075;
    --custom-transparent-deep: #ebeaf0a5;
    --custom-transparent-deeper: #ebeaf0d5;

    /* 不透明的组件颜色 | Opaque component color */
    --custom-components-light: #fff;
    --custom-components: #f0f0f0;
    --custom-components-deep: #d9d9d9;


}