/* 隐藏顶栏和底栏 */

/* 顶栏悬浮 */
#toolbar{
	margin-bottom: -22px;
	z-index: 99;
	opacity: 0;
	transition: opacity 300ms;
	transition-delay: 500ms;
}
#toolbar:hover{
	opacity: 1;
	transition: all 300ms;
}

/* 底栏悬浮 */
#status {
	margin-top: -22px;
	z-index: 99;
	opacity: 0;
	transition: opacity 300ms;
	transition-delay: 500ms;
}
#status:hover{
	opacity: 1;
	transition: all 300ms;
}