/* 命名方式: custom-位置-css语法 */
:root {
    /* ------------------------自定义样式------------------------ */
    
    /* 阴影颜色 */
    --custom-box-shadow-color: var(--b3-theme-on-background);
    
    /* 圆角弧度 */
    --custom-border-radius: 5px;
    
    /* 默认块内边距 */
    --custom-block-padding: 5px;

    /* 默认分隔线 */
    --custom-separator-color: var(--custom-components-deep);

    /* 自定义线条颜色 */
    --custom-line-color: var(--b3-scroll-color);

    /* 按钮 */
    --custom-button-text-color: var(--b3-theme-background);
    --custom-button-color-red: #f55555;
    --custom-button-hover-color-red: #d44444;
    --custom-button-color-blue: #128ddd;
    --custom-button-hover-color-blue: #017ddd;

    /* 开关 */
    --custom-switch-backgroud-color: #f5f5f5;
    --custom-switch-icon-backgrounc-color: #5d5d5d;

    /* 滚动条 */
    --custom-sroll-color: var(--custom-components-deep);
    --custom-sroll-hover-color: rgb(190, 190, 190);
    
    /* 闪卡 */
    --custom-flash-card-list-color: #ff6a6a;
    --custom-flash-card-p-color: #00c853;
    --custom-flash-card-sb-color: #7c4dff;
    --custom-flash-card-box-shadow-color: #aaaaaa;

    /* 子弹线 */
    --custom-list-bullet-color: rgb(70, 110, 220);
    
    /* ------------------------界面样式------------------------ */
    
    /* 编辑区 */
    --custom-editor-background-color: var(--custom-components);
    --custom-editor-padding-left: 24px;
    --custom-editor-padding-right: 24px;
    
    /* 页签 */
    --custom-tab-bar-background-color: var(--custom-components);
    --custom-tab-bar-min-height: calc(var(--custom-dock-width));
    --custom-tab-bar-item-min-width: none;
    --custom-tab-bar-icon-size: 1.25em;
    /* 页签项排列方式：wrap: 多行显示; nowrap: 单行显示 */
    --custom-tab-bar-flex-wrap: wrap;
    /* 页签纵向排列时最大宽度 */
    --custom-tab-bar-vertical-max-width: 15%;
    
    /* 底部状态栏 */
    --custom-status-bar-background-color: var(--custom-components);

    /* 边栏 */
    --custom-dock-background-color: var(--custom-components);
    --custom-dock-item-margin-width: 4px;
    --custom-dock-item-padding-width: 6px;
    --custom-dock-item-icon-size: 16px;
    --custom-dock-width: calc(var(--custom-dock-item-icon-size) + var(--custom-dock-item-margin-width) * 2 + var(--custom-dock-item-padding-width) * 2);
    
    /* 布局背景 */
    --custom-layout-background-color: var(--custom-components);
    
    /* 功能面板间隔距离 */
    --custom-panel-distance: 3px;

    /* 遮罩 */
    --custom-scrim-background-color: var(--custom-transparent-light);

    /* 弹出菜单 */
    --custom-popover-menu-background-color: var(--custom-components);
    --custom-popover-menu-hover-color: var(--b3-theme-background-light);
    --custom-popover-menu-padding-width: 0.25em;

    /* 列表聚焦项 */
    --custom-list-hover: var(--b3-list-hover);

    /* 设置页面 */
    --custom-setting-cards-background-color: var(--b3-theme-surface);
    --custom-setting-config-tab-background-color: #fbfbfb;
    --custom-setting-tab-bar-background-color: #f3f3f3;

    /* ------------------------行内元素------------------------ */
    
    /* 标记 */
    --custom-span-mark-color: var(--b3-card-info-color);
    --custom-span-mark-background-color: var(--b3-theme-primary-lighter);
    --custom-span-mark-display-color: var(--b3-protyle-inline-mark-color);

    /* 内部超链接 */
    --custom-link-l: "[";
    --custom-link-r: "]";
    --custom-span-siyuan-link-color: #1890FF;
    --custom-span-siyuan-link-hover-color: #1476d1;

    /* 块引用 */
    --custom-ref-l: "[[";
    --custom-ref-r: "]]";
    --custom-span-block-ref-color: #1890FF;
    --custom-span-block-ref-hover-color: #1476d1;
    
    /* ------------------------块级元素------------------------ */

    /* 代码块 */
    --custom-block-code-background-color: var(--custom-transparent-light);
    /* 代码块行号 */
    --custom-block-code-linenumber-background-color: var(--custom-transparent-deep);
    /* 代码块行号与编辑区的分隔线 */
    --custom-block-code-linenumber-separator-color: var(--b3-border-color);

    /* 嵌入块 */
    --custom-block-embed-background-color: var(--custom-transparent-lighter);

    /* 超级块 */
    --custom-block-super-background-color: var(--custom-transparent-lighter);
    
    /* 引述块 */
    --custom-block-quote-background-color: var(--custom-transparent);

    /* 拖拽参考线 */
    --custom-drag-top-shadow-color: var(--b3-theme-primary-lighter);
    --custom-drag-bottom-shadow-color: var(--b3-theme-primary-lighter);
    --custom-drag-left-shadow-color: var(--b3-theme-primary-lighter);
    --custom-drag-right-shadow-color: var(--b3-theme-primary-lighter);

    /* 子标题序号缩放 */
    --custom-h-num-font-size: 50%;
    /* 子标题及其对应大纲颜色 */
    --custom-h1-color: var(--b3-theme-on-background);
    --custom-h2-color: var(--b3-theme-on-background);
    --custom-h3-color: var(--b3-theme-on-background);
    --custom-h4-color: var(--b3-theme-on-background);
    --custom-h5-color: var(--b3-theme-on-background);
    --custom-h6-color: var(--b3-theme-on-background);
    /* 子标题折叠标记 */
    /* REF [箭头图案 - Unicode 字符百科](https://unicode-table.com/cn/sets/arrow-symbols/) */
    /* ⭿ ⭱ ⭳ ↥ ↧ ↨ ⭻ ⇞ ⭽ ↕ ⇝ ⬳ ⟿ ⇼ ⮉ ⮋ ... */
    --custom-h-fold-mark: "⭿";
}

@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    src: url(../../fonts/LXGWWenKaiGBScreenR.ttf);
}