:root[data-theme-mode=dark] {
    /* ------------------------自定义样式------------------------ */

    /* 透明组件颜色 */
    --custom-transparent-lighter: rgba(42, 42, 42, 0.082);
    --custom-transparent-light: rgba(42, 42, 42, 0.271);
    --custom-transparent: rgba(42, 42, 42, 0.459);
    --custom-transparent-deep: rgba(42, 42, 42, 0.647);
    --custom-transparent-deeper: rgba(42, 42, 42, 0.835);

    /* 不透明的组件颜色 */
    --custom-components-light: #333333;
    --custom-components: #252526;
    --custom-components-deep: #1e1e1e;

    /* 开关 */
    --custom-switch-backgroud-color: inherit;
    --custom-switch-icon-backgrounc-color: #cecece;

    /* 按钮 */
    --custom-button-text-color: var(--b3-theme-on-background);
    --custom-button-color-red: rgb(185, 55, 55);
    --custom-button-hover-color-red: rgb(220, 55, 55);
    --custom-button-color-blue: #069ccd;
    --custom-button-hover-color-blue: #2eaadc;

    /* 闪卡 */
    --custom-flash-card-list-color: #9d2d2d;
    --custom-flash-card-p-color: #1b551b;
    --custom-flash-card-sb-color: #5c40a6;
    /* --custom-flash-card-box-shadow-color: #535353; */
    --custom-flash-card-box-shadow-color: transparent;

    /* 子弹线 */
    --custom-list-bullet-color: rgb(46, 170, 220);

    /* ------------------------界面样式------------------------ */

    /* 编辑器 */
    --custom-editor-background-color: var(--custom-components-deep);
    --custom-tab-bar-background-color: var(--custom-components-deep);

    /* 分隔线 */
    --custom-separator-color: var(--custom-components-light);

    /* 底部状态栏 */
    --custom-status-bar-background-color: var(--custom-components-light);

    /* 边栏 */
    --custom-dock-background-color: var(--custom-components-light);

    /* 列表 */
    --custom-popover-menu-background-color: var(--custom-components);

    /* 列表聚焦项 */
    --custom-list-hover: rgba(230, 230, 230, 0.1);

    /* 设置页面 */
    --custom-setting-cards-background-color: var(--custom-components-light);
    --custom-setting-config-tab-background-color: #2b2b2b;
    --custom-setting-tab-bar-background-color: #202020;

    /* ------------------------行内元素------------------------ */

    /* 块引用 */
    --custom-span-block-ref-color: rgb(112, 196, 196);
    --custom-span-block-ref-hover-color: rgb(81, 123, 141);

    /* 内部超链接 */
    --custom-span-siyuan-link-color: rgb(112, 196, 196);
    --custom-span-siyuan-link-hover-color: rgb(81, 123, 141);

    /* ------------------------块级元素------------------------ */

}

/* PDF */
.pdfViewer .page canvas,
.thumbnailImage {
    filter: grayscale(0%) invert(100%) contrast(100%) brightness(100%) hue-rotate(180deg);
}

.textLayer,
.pdf__resize {
    mix-blend-mode: screen;
}

.b3-text-field::-webkit-calendar-picker-indicator {
    filter: invert(1)
}