/* ------------------------ 反链/提及面板 ------------------------ */

/* 功能区和内容分离 */
.sy__backlink .block__icons {
    border-bottom: 1px solid var(--custom-components-deep);
}
.sy__backlink .block__icons:not(:first-child) {
    border-top: 1px solid var(--custom-components-deep);
}

/* 反链数量移至左侧 */
.sy__backlink .block__icons .counter {
    background-color: var(--custom-components-deep);
    border-radius: 4px;
    position: absolute;
    padding: 0px;
    width: 20px;
    text-align: center;
}

/* 编辑区取消外边距 */
.backlinkList .protyle-content > .protyle-wysiwyg, 
.backlinkMList .protyle-content > .protyle-wysiwyg {
    padding-top: 0 !important;
    margin: 0 !important;
}

/* 反链面板卡片样式 */
.backlinkList > .b3-list .b3-list-item:has(+.protyle:not(.fn__none)), 
.backlinkMList > .b3-list .b3-list-item:has(+.protyle:not(.fn__none)) {
    background-color: var(--b3-list-hover);
    border-radius: 4px 4px 0 0;
    outline: solid 1px var(--custom-components-deep);
    padding-top: 2px !important;
}
.backlinkList > .b3-list > .protyle, 
.backlinkMList > .b3-list > .protyle {
    border-radius: 0 0 4px 4px;
    margin-bottom: 10px;
    outline: solid 1px var(--custom-components-deep);
}
.backlinkList .protyle-breadcrumb__bar:not(:first-child) {
    padding-top: 3px;
    border-top: 1px solid var(--custom-components-deep);
}

/* ------------------------ 反链/提及面板面包屑 ------------------------ */

/* 面包屑设置边距 */
.backlinkList .protyle-breadcrumb__bar, 
.backlinkMList .protyle-breadcrumb__bar {
    padding: 0 4px;
}

/* 面包屑文字 */
.backlinkList .protyle-breadcrumb__bar .protyle-breadcrumb__item, 
.backlinkMList .protyle-breadcrumb__bar .protyle-breadcrumb__item {
    line-height: normal;
}
.backlinkList .protyle-breadcrumb__bar .protyle-breadcrumb__item:first-child, 
.backlinkMList .protyle-breadcrumb__bar .protyle-breadcrumb__item:first-child {
    border-color: var(--b3-theme-on-surface);
}

/* 文档路径完整显示 */
.backlinkList .protyle-breadcrumb__bar .protyle-breadcrumb__item:first-child,
.backlinkList .protyle-breadcrumb__bar .protyle-breadcrumb__item:first-child .protyle-breadcrumb__text--ellipsis, 
.backlinkMList .protyle-breadcrumb__bar .protyle-breadcrumb__item:first-child,
.backlinkMList .protyle-breadcrumb__bar .protyle-breadcrumb__item:first-child .protyle-breadcrumb__text--ellipsis {
    max-width: none;
}

/* 无内容的面包屑项 */
.backlinkList .protyle-breadcrumb__bar .protyle-breadcrumb__item .protyle-breadcrumb__text:empty, 
.backlinkMList .protyle-breadcrumb__bar .protyle-breadcrumb__item .protyle-breadcrumb__text:empty {
    margin-left: 0;
}