/* 顶栏、底栏、边栏宽度修改 */

/* 各栏按钮 */
#toolbar .b3-tooltips,
#dockTop .b3-tooltips,
#dockLeft .b3-tooltips,
#dockRight .b3-tooltips,
#dockBottom .b3-tooltips,
#status .b3-tooltips {
    margin: var(--custom-dock-item-margin-width) !important;
    padding: var(--custom-dock-item-padding-width) !important;
    border-radius: var(--custom-border-radius) !important;
}
/* 窗口控件 */
#windowControls > .b3-tooltips {
    margin: 0px !important;
}

/* 各栏按钮图标 */
#toolbar .b3-tooltips > svg,
#dockTop .b3-tooltips > svg,
#dockLeft .b3-tooltips > svg,
#dockRight .b3-tooltips > svg,
#dockBottom .b3-tooltips > svg,
#status .b3-tooltips > svg {
    width: var(--custom-dock-item-icon-size) !important;
    height: var(--custom-dock-item-icon-size) !important;
}

/* 边栏宽度 */
#dockLeft,
#dockRight {
    width: var(--custom-dock-width);
}

/* 顶栏、底栏、侧边栏高度 */
#toolbar,
#dockTop,
#dockBottom
#status {
    height: calc(var(--custom-dock-width) - var(--custom-dock-item-margin-width) * 2);
}

/* 底部状态栏 */
#status .status__msg,
#status .status__counter {
    line-height: calc(var(--custom-dock-width) - var(--custom-dock-item-margin-width) * 2);
}
