/* ------------------------顶栏------------------------ */

#toolbar {
    background-color: var(--custom-status-bar-background-color);
    border-bottom: 1px solid var(--custom-components-deep);
}

/* 顶栏按钮悬浮背景 */
#toolbar .toolbar__item:not(.toolbar__item--disabled):not(.toolbar__item--close):hover {
    background-color: var(--b3-theme-background-light);
}

/* 工作空间下拉菜单 */
#barWorkspace {
	height:22px;
	border-radius:5px;
	padding:0 3px 0 7px;
	margin:0px 3px 0 2px;
	background-color:#e16259;
	box-shadow: 0px 0.3px 0.7px 0px rgb(0 0 0 / 12%), 0px 1.5px 2.8px 0px rgb(0 0 0 / 7%), 0px 4px 9px 0px rgb(0 0 0 / 5%);
}
#barWorkspace:hover{
	background-color: #b3180d !important;
	transition: background-color .5s;
}
#barWorkspace .toolbar__text{
	line-height:22px;
	color:var(--b3-theme-background);
	text-align:center;
	font-weight:600;
	text-transform:uppercase;
}
#barWorkspace .toolbar__svg{
	padding:4px;
	color:var(--b3-theme-background);
	margin:0px;
}

/* ------------------------底栏------------------------ */

#status {
    background-color: var(--custom-status-bar-background-color);
    border-top: 1px solid var(--custom-components-deep);
}
