/* ------------------------ 编辑器面包屑 ------------------------ */

/* 面包屑边框 */
.protyle-breadcrumb {
    background-color: var(--custom-editor-background-color);
    background-image: var(--custom-background-image);
    border-bottom: 1px solid var(--custom-components-deep);
}

/* 面包屑文字 */
.protyle-breadcrumb .protyle-breadcrumb__bar .protyle-breadcrumb__item {
    line-height: normal;
}
.protyle-breadcrumb .protyle-breadcrumb__bar .protyle-breadcrumb__item:first-child {
    border-color: var(--b3-theme-on-surface);
}

/* 文档路径完整显示 */
.protyle-breadcrumb .protyle-breadcrumb__bar .protyle-breadcrumb__item:first-child,
.protyle-breadcrumb .protyle-breadcrumb__bar .protyle-breadcrumb__item:first-child .protyle-breadcrumb__text--ellipsis {
    max-width: none;
}

/* 无内容的面包屑项 */
.protyle-breadcrumb .protyle-breadcrumb__bar .protyle-breadcrumb__item .protyle-breadcrumb__text:empty {
    margin-left: 0;
}

/* 退出聚焦按钮 */
.protyle-breadcrumb__icon[data-type="exit-focus"] {
    font-weight: normal;
    border-radius: 5px;
    background-color: var(--custom-button-color-red);
    color: var(--b3-theme-background) !important;
    box-shadow: rgb(15 15 15 / 10%) 0px 1px 2px;
}
.protyle-breadcrumb__icon[data-type="exit-focus"]:hover {
    border-radius: 5px!important;
    background-color: var(--custom-button-hover-color-red)!important;
}