/* ------------------------按钮样式------------------------ */
.b3-button:not(.b3-button--cancel) {
    font-weight: normal;
    background-color: var(--custom-button-color-blue);
    border-radius: var(--custom-border-radius);
    color: var(--b3-theme-background) !important;
    box-shadow: rgb(15 15 15 / 10%) 0px 1px 2px;
}
.b3-button:not(.b3-button--cancel):hover {
    border-radius: var(--custom-border-radius) !important;
    background-color: var(--custom-button-hover-color-blue)!important;
}
