/* ------------------------侧边菜单栏------------------------ */

.dock#dockTop,
.dock#dockBottom,
.dock#dockLeft,
.dock#dockRight {
  background-color: var(--custom-dock-background-color);
  border:0;
}
.dock#dockTop .dock__item,
.dock#dockBottom .dock__item {
  margin: 3px;
  border: 0;
  padding: 4px;
  display: inline-block;
}
.dock#dockTop .dock__item.b3-tooltips:hover,
.dock#dockBottom .dock__item.b3-tooltips:hover {
  overflow: hidden;
}
/* 聚焦的侧边面板标题 */
.block__icons--active {
  background-color: var(--custom-dock-background-color);
}

/* 边栏背景 */
.layout-tab-container {
  background-color: var(--custom-dock-background-color);
  background-image: var(--custom-background-image);
}

/* 边栏鼠标选择样式 */
.fn__flex.fn__flex-1 .fn__flex-column .b3-list.b3-list--background li:hover {
  border-radius: var(--custom-border-radius);
  background-color: var(--custom-dock-hover-background-color);
  text-shadow: 1px 1px 2px var(--custom-dock-hover-text-shadow-color);
  box-shadow: 1px 1px 0px 0px var(--custom-dock-hover-box-shadow-color);
  /* transform: scale(1.005); */
}
