/* ------------------------ 侧边菜单栏 ------------------------ */

.dock#dockTop,
.dock#dockBottom,
.dock#dockLeft,
.dock#dockRight {
  background-color: var(--custom-dock-background-color);
  border:0;
}
.dock#dockLeft,
.dock#dockRight{
	width: var(--custom-dock-width);
}
.dock#dockLeft .dock__item,
.dock#dockRight .dock__item {
  margin: 7px var(--custom-dock-item-margin-width);
  padding: 6px var(--custom-dock-item-padding-width);
  justify-content: center;
}
.dock#dockTop .dock__item,
.dock#dockBottom .dock__item {
  margin: 3px;
  border: 0;
  padding: 4px;
  display: inline-block;
}
.dock#dockTop .dock__item.b3-tooltips:hover,
.dock#dockBottom .dock__item.b3-tooltips:hover {
  overflow: hidden;
}
/* 聚焦的侧边面板标题 */
.block__icons--active {
  background-color: var(--custom-dock-background-color);
}

/* 边栏背景 */
.layout-tab-container {
  background-color: var(--custom-dock-panel-background-color);
  background-image: var(--custom-background-image);
}
