/* 侧边菜单栏 */

@import url(../config.css);

.dock#dockTop,
.dock#dockBottom,
.dock#dockLeft,
.dock#dockRight {
  background-color: var(--custom-dock-background-color);
  border:0;
}
.dock#dockTop .dock__item,
.dock#dockBottom .dock__item {
  margin: 3px;
  border: 0;
  padding: 4px;
  display: inline-block;
}
.dock#dockTop .dock__item.b3-tooltips:hover,
.dock#dockBottom .dock__item.b3-tooltips:hover {
  overflow: hidden;
}
/* 聚焦的侧边面板标题 */
.block__icons--active {
  background-color: var(--b3-list-hover);
}

.layout-tab-container {
  /* 边栏背景 */
  background-color: var(--custom-editor-background-color);
  background-image: url(../../image/background.png);
}

/* 边栏鼠标选择样式 */
.fn__flex.fn__flex-1 .fn__flex-column .b3-list.b3-list--background li:hover {
  border-radius: var(--custom-border-radius);
  background-color: var(--custom-transparent-deep);
  text-shadow: 1px 1px 2px var(--b3-theme-on-surface);
  box-shadow: 1px 1px 0px 0px var(--custom-components-deep);
  /* transform: scale(1.005); */
}

/* ------------------------------侧边栏分割线------------------------------ */

/* 关闭笔记分割线 */
.b3-list:not(.b3-list--background) > .b3-list-item {
  border-top: 1px solid var(--custom-components-deep);
  border-bottom: 1px solid var(--custom-components-deep);
}

/* 提及-反链分割线 */
.backlinkList+.block__icons {
  border-top: 1px solid var(--custom-components-deep);
}

/* 侧边栏各区底部分割线 */
.block__icons {
  background-color: var(--custom-transparent-light);
  border-bottom: 1px solid var(--custom-components-deep);
}
