/* ------------------------弹出菜单------------------------ */

.b3-list {
    /* REF: [第一个子元素在未超过父元素高度的情况下设置margin-top导致出现竖向滚动条的问题_Andrasen的博客-CSDN博客](https://blog.csdn.net/Andrasen/article/details/105676175) */
    padding: var(--custom-popover-menu-padding-width) !important;
    background-color: var(--custom-popover-menu-background-color);
    backdrop-filter: none;
    width: var(--custom-popover-menu-width);
    outline: var(--custom-popover-menu-outline-width) var(--custom-popover-menu-outline-style) var(--custom-popover-menu-outline-color);
    overflow-x: visible !important;
}
/* 菜单项 */
.b3-list .b3-list-item {
    margin: 0 !important;
    border-radius: var(--custom-border-radius);
}

.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus), 
.b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) {
    background-color: var(--custom-list-hover);
}

/* ------------------------行内样式选择面板------------------------ */
/* 设置字体颜色背景色 */
.color__square[style="color:var(--b3-font-color1)"] {
    background-color: var(--b3-font-color1)
}
.color__square[style="color:var(--b3-font-color2)"] {
    background-color: var(--b3-font-color2)
}
.color__square[style="color:var(--b3-font-color3)"] {
    background-color: var(--b3-font-color3)
}
.color__square[style="color:var(--b3-font-color4)"] {
    background-color: var(--b3-font-color4)
}
.color__square[style="color:var(--b3-font-color5)"] {
    background-color: var(--b3-font-color5)
}
.color__square[style="color:var(--b3-font-color6)"] {
    background-color: var(--b3-font-color6)
}
.color__square[style="color:var(--b3-font-color7)"] {
    background-color: var(--b3-font-color7)
}
.color__square[style="color:var(--b3-font-color8)"] {
    background-color: var(--b3-font-color8)
}
.color__square[style="color:var(--b3-font-color9)"] {
    background-color: var(--b3-font-color9)
}
.color__square[style="color:var(--b3-font-color10)"] {
    background-color: var(--b3-font-color10)
}
.color__square[style="color:var(--b3-font-color11)"] {
    background-color: var(--b3-font-color11)
}
.color__square[style="color:var(--b3-font-color12)"] {
    background-color: var(--b3-font-color12)
}
.color__square[style="color:var(--b3-font-color13)"] {
    background-color: var(--b3-font-color13)
}

/* 添加数字伪元素 */
.color__square[data-type="color"]:before {
    position: absolute;
    font-weight: bold;
    color: var(--b3-theme-on-primary);
}
.color__square[data-type="backgroundColor"]:before {
    position: absolute;
    font-weight: bold;
    color: var(--b3-theme-on-surface);
}
.color__square[style="color:var(--b3-font-color1)"]:before {
    content: "1";
}
.color__square[style="color:var(--b3-font-color2)"]:before {
    content: "2";
}
.color__square[style="color:var(--b3-font-color3)"]:before {
    content: "3";
}
.color__square[style="color:var(--b3-font-color4)"]:before {
    content: "4";
}
.color__square[style="color:var(--b3-font-color5)"]:before {
    content: "5";
}
.color__square[style="color:var(--b3-font-color6)"]:before {
    content: "6";
}
.color__square[style="color:var(--b3-font-color7)"]:before {
    content: "7";
}
.color__square[style="color:var(--b3-font-color8)"]:before {
    content: "8";
}
.color__square[style="color:var(--b3-font-color9)"]:before {
    content: "9";
}
.color__square[style="color:var(--b3-font-color10)"]:before {
    content: "10";
}
.color__square[style="color:var(--b3-font-color11)"]:before {
    content: "11";
}
.color__square[style="color:var(--b3-font-color12)"]:before {
    content: "12";
}
.color__square[style="color:var(--b3-font-color13)"]:before {
    content: "13";
    color: var(--b3-theme-on-surface);
}
.color__square[style="background-color:var(--b3-font-background1)"]:before {
    content: "1";
}
.color__square[style="background-color:var(--b3-font-background2)"]:before {
    content: "2";
}
.color__square[style="background-color:var(--b3-font-background3)"]:before {
    content: "3";
}
.color__square[style="background-color:var(--b3-font-background4)"]:before {
    content: "4";
}
.color__square[style="background-color:var(--b3-font-background5)"]:before {
    content: "5";
}
.color__square[style="background-color:var(--b3-font-background6)"]:before {
    content: "6";
}
.color__square[style="background-color:var(--b3-font-background7)"]:before {
    content: "7";
}
.color__square[style="background-color:var(--b3-font-background8)"]:before {
    content: "8";
}
.color__square[style="background-color:var(--b3-font-background9)"]:before {
    content: "9";
}
.color__square[style="background-color:var(--b3-font-background10)"]:before {
    content: "10";
}
.color__square[style="background-color:var(--b3-font-background11)"]:before {
    content: "11";
}
.color__square[style="background-color:var(--b3-font-background12)"]:before {
    content: "12";
}
.color__square[style="background-color:var(--b3-font-background13)"]:before {
    content: "13";
    color: var(--b3-theme-on-primary);
}