/* ------------------------搜索面板------------------------ */
/* 取消 hover-menu.css 设置的 outline */
#searchList, .search__list {
    outline: none;
}

/* 文档路径分行显示 */
#searchList > .b3-list-item[data-type="search-item"], 
.search__list > .b3-list-item[data-type="search-item"] {
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px;
    margin: 3px 0 !important;
    padding-bottom: calc(1.25em + 1px);
}
#searchList > [data-type="search-item"] > .b3-list-item__text {
    padding: 3px 0;
}
#searchList > .b3-list-item[data-type='search-item'] > .b3-list-item__meta {
	bottom: 0px;
    margin-left: 2px;
	max-width: calc(100% - 12px);
	position: absolute;
}

.b3-chips .b3-chip {
    border-radius: var(--custom-border-radius);
}
/* 隐藏“保存查询条件”删除按钮 */
.b3-chip__close {
    width: 0;
}
.b3-chip:hover .b3-chip__close, 
.b3-chip__close:hover {
    width: 16px;
}