/** 搜索对话框
 *  REF: [siyuan-themes-tsundoku-dark/ctrlP.css at main · Achuan-2/siyuan-themes-tsundoku-dark](https: //github.com/Achuan-2/siyuan-themes-tsundoku-dark/blob/main/style/ctrlP.css)
 *  REF: [自定义样式：搜索窗口改造（窗口放大+左右布局） - 链滴](https: //ld246.com/article/1648269766832)
 */

@import url(../config.css);

/* 搜索对话框尺寸 */
body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex > .fn__flex-column {
  width: var(--custom-search-width) !important;
  height: var(--custom-search-height) !important;
}

/* 搜索结果列表 */
#searchList,
/* 搜索结果预览 */
#searchPreview {
  border: 1px solid var(--custom-separator-color);
}

/* 搜索结果项 */
#searchList > .b3-list-item,
#globalSearchList > .b3-list-item {
  outline: 1px solid var(--custom-separator-color);
}
/* 搜索结果鼠标悬浮样式 */
#searchList > .b3-list-item:hover,
#globalSearchList > .b3-list-item:hover {
  background-color: var(--custom-search-hover-color);
}
/* 搜索结果焦点样式 */
#searchList > .b3-list-item.b3-list-item--focus,
#globalSearchList > .b3-list-item.b3-list-item--focus {
  background-color: var(--custom-search-focus-color);
}

/* 输入框 */
/* 输入框添加背景色 */
#searchInput {
  background: var(--custom-search-background-color);
}
.b3-dialog__container .b3-form__icon.search__header {
/* 输入框添加外框 */
  background: var(--custom-search-background-color);
  border: 1px solid var(--custom-components-deep);
}

/* 隐藏关闭按钮 */
.b3-dialog__container > .b3-dialog__close {
  display: none;
}

/* 列出条目改为上下排列 */
.b3-dialog__container #searchList .b3-list-item[data-type="search-item"] {
  padding-bottom: calc(1.25em + 1px);
}
.b3-dialog__container #searchList .b3-list-item[data-type="search-item"] .b3-list-item__text {
  display:  -webkit-box;
}
.b3-dialog__container #searchList .b3-list-item[data-type="search-item"] .b3-list-item__meta {
  position: absolute;
  bottom: 0.25em;
  max-width: calc(100% - 24px);
  line-height: 1.25em;
}

/*窗口宽度大于一定尺寸时候，左右排列*/
@media screen and (min-width: 960px) {
    /* 弹性盒子模式: 水平显示, 必要时折行 */
    body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column {
      flex-direction: row !important;
      flex-wrap: wrap;
    }
    /* 设置需要占满一行的项目 */
    body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column *:is(.search__header, .b3-form__space--small) {
      width: 100%;
    }
    /* 搜索结果与搜索结果预览分栏 */
    body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column #searchList {
      float: left;
      width: 30% !important;
    }
    body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column .search__header:first-child + .search__header:is(.fn__none) ~ #searchList,
    body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column .search__header:first-child + .search__header:is(.fn__none) ~ #searchPreview {
      height: calc(100% - 92px) !important;
    }
    body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column .search__header:first-child + .search__header:not(.fn__none) ~ #searchList,
    body > div[data-key] > .b3-dialog > .b3-dialog__container .fn__flex-column .search__header:first-child + .search__header:not(.fn__none) ~ #searchPreview {
      height: calc(100% - 142px) !important;
    }
}