/* ------------------------ 设置面板 ------------------------ */

/* 隐藏关闭按钮 */
.b3-dialog__container > .b3-dialog__close {
  display: none;
}

/* 取消 hover-menu.css 的设置 */
.b3-dialog__container .b3-list {
  background-color: inherit;
  outline: none;
}

/* 左侧列表项 */
.b3-dialog__container .b3-list-item {
    margin: 3px 0 !important;
}
