/* 页签 */

/* 页签栏 */
.layout__center > .fn__flex.fn__flex-1 > .fn__flex-column > .fn__flex:has(.layout-tab-bar) {
  background-color: var(--custom-tab-bar-background-color);
  background-image: var(--custom-background-image);
}

/* 编辑区页签 */
.fn__flex.fn__flex-1.layout-tab-bar {
  background-color: var(--custom-tab-bar-background-color);
  flex-wrap: var(--custom-tab-bar-flex-wrap);
  flex: 0 1 auto;
}

/* 页签多行 */
.layout-tab-bar {
  flex-wrap: var(--custom-tab-bar-flex-wrap);
}

/* 所有页签项 */
.layout-tab-bar .item {
  flex: none;
  box-sizing: border-box;
  min-height: var(--custom-tab-bar-min-height);
}

/* 非右侧菜单页签项 */
.layout-tab-bar .item:not(.item--readonly) {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid var(--custom-components-deep);
  border-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: none !important;
}

/* 页签项图标 */
.layout-tab-bar .item .item__icon {
  padding: 0px;
  padding-left: 8px;
}
.layout-tab-bar .item .item__icon svg,
.layout-tab-bar .item .item__icon img {
  width: var(--custom-tab-bar-icon-size);
  height: var(--custom-tab-bar-icon-size);
}

/* 页签项关闭图标 */
.layout-tab-bar .item .item__close {
  padding: 4px !important;
}
.layout-tab-bar .item .item__close[data-type="new"],
.layout-tab-bar .item .item__close[data-type="more"] {
  margin: 0 4px;
}
.layout-tab-bar .item .item__close svg:hover {
  color: var(--b3-theme-surface);
  background-color: var(--b3-theme-on-surface);
}

/* 页签项文本 */
.layout-tab-bar .item .item__text {
  min-width: 0;
  mask-image: none;
  -webkit-mask-image: none;
}

/* 非钉住的页签项 */
.layout-tab-bar .item:not(.item--pin) {
  min-width: var(--custom-tab-bar-item-min-width);
}
.layout-tab-bar .item:not(.item--pin) .item__text {
  padding-right: 0;
}

/* 钉住的页签项文本全部显示 */
.layout-tab-bar .item.item--pin .item__text {
  width: auto;
  max-width: none;
  display: flex !important;
}

/* 移除控件与文档页签之间的距离 */
.layout-tab-bar .item:last-child:not(.item--readonly) {
  margin: 0;
}

/* 被选中的页签项 */
.layout-tab-bar .item.item--focus {
  background-color: var(--b3-list-hover);
  box-shadow: none !important;
}
/* 取消当前文档页签的下划线 */
.layout-tab-bar .item.item--focus::after {
  display: none;
}

/* 多窗口被选中的页签项 */
.layout__wnd--active .layout-tab-bar .item.item--focus {
  background-color: var(--b3-list-hover);
  box-shadow: none !important;
}

/* ------------------------集市页签样式------------------------ */

/* 集市页签项 */
.b3-dialog__container .layout-tab-bar .item {
  flex: auto;
}

/* 集市被选中的页签项 */
.b3-dialog__container .layout-tab-bar .item.item--focus {
  flex: auto;
  background-color: var(--b3-list-hover);
  box-shadow: none !important;
}

/* ------------------------页签右侧菜单样式------------------------ */

/* 页签右侧菜单 */
.fn__flex.fn__flex-1 + .layout-tab-bar {
  background-color: var(--custom-tab-bar-background-color);
  flex-wrap: var(--custom-tab-bar-flex-wrap);
  /* 右侧菜单占满页签项剩余位置 */
  flex: auto;
  /* 右侧菜单、页签分列两侧 */
  /* flex: none; */
}

/* 页签右侧菜单项分列两侧 */
.layout-tab-bar .item.item--readonly {
  border-left: none;
  justify-content: space-between;
  padding-left: 0px;
}

/* 页签右键菜单项 */
.layout-tab-bar .item.item.item--readonly > .item__close {
  background-color: transparent;
  border-radius: 5px;
  height: 18px !important;
  width: 18px !important;
  padding: 6px;
}