/* 顶部工具栏 */

/* 顶栏 */
#toolbar {
    background-color: var(--custom-tool-bar-background-color);
    border-bottom: 1px solid var(--custom-status-bar-separator-color);
}

/* 被激活的控件 */
.block__icon--active,
.toolbar__item--active {
    color: var(--custom-tool-bar-tiem-active-color);
    background-color: var(--custom-tool-bar-tiem-active-background-color);
    box-shadow: 0 0 var(--custom-tool-bar-tiem-active-box-shadow-spread) var(--custom-box-shadow-color);
}

/* ------------------------主题特性：搜索按钮------------------------ */

/* 隐藏搜索按钮 */
#barSearch {
    display: none;
}

/* ------------------------自定义工具栏------------------------ */

#custom-toolbar {
    transition: all 500ms;
}
