.b3-tooltips::after {
    color: var(--b3-theme-on-primary);
    background-color: var(--b3-theme-primary-light);
}

.b3-tooltips__s::before, .b3-tooltips__se::before, .b3-tooltips__sw::before{
    border-bottom-color: var(--b3-theme-primary-light);
}

.b3-tooltips__n::before, .b3-tooltips__ne::before, .b3-tooltips__nw::before {
    border-top-color: var(--b3-theme-primary-light);
}

.b3-tooltips__e::before {
    border-right-color: var(--b3-theme-primary-light);
}

.b3-tooltips__w::before {
    border-left-color: var(--b3-theme-primary-light);
}

div#tooltip {
   color: var(--b3-theme-on-primary);
}