/* ------------------------ 编辑器 ------------------------ */
#editor .protyle-content > .protyle-wysiwyg {
  margin-left: 18px;
  margin-right: 18px;
}
#editor .protyle-wysiwyg [data-node-id].p {
  border-radius: 0;
}
#editor .protyle-wysiwyg [data-node-id].li > .protyle-action {
  width: 16px;
}
#editor .protyle-wysiwyg [data-node-id].li > .list {
  margin-left: 8px !important;
  padding-left: 0;
}
#editor .protyle-wysiwyg [data-node-id].li > [data-node-id] {
  margin-left: 16px !important;
}
#editor .protyle-wysiwyg [data-node-id].li::before {
  left: 8px;
}
#editor .protyle-wysiwyg [data-node-id] > [contenteditable][spellcheck] span.img > img:not(.emoji) {
  max-width: 100%;
}
#editor .protyle-wysiwyg [data-node-id] > [contenteditable][spellcheck]:has(span.img) {
  display: flex;
  align-items: center;
}
