/* ------------------------ 按键工具栏 ------------------------ */
#sidebar ~ #keyboardToolbar > .keyboard__util .keyboard__slash-item {
  background-color: var(--custom-popover-menu-background-color);
}
#sidebar ~ #keyboardToolbar > .keyboard__bar .keyboard__action:not([data-type=done]) svg {
  margin: 6px 4px;
}
#sidebar ~ #keyboardToolbar > .keyboard__bar .keyboard__action svg.keyboard__svg--big {
  margin: 2px 0;
}
