/* ------------------------ 右侧边栏 ------------------------ */
#sidebar ~ #menu .b3-menu__item {
  background-color: var(--custom-popover-menu-background-color);
}
#sidebar ~ #menu > .b3-menu__title {
  background-color: var(--custom-popover-menu-background-color);
}
#sidebar ~ #menu.b3-menu--fullscreen .b3-menu__item:first-child {
  border-top: none;
}
#sidebar ~ #menu.b3-menu--fullscreen .b3-menu__items {
  padding: 0;
}
