/* ------------------------顶栏------------------------ */
#toolbar {
  background-color: var(--custom-status-bar-background-color);
  border-bottom: 1px solid var(--custom-components-deep);
}
#barWorkspace {
  background-color: var(--custom-button-color-red);
  box-shadow: 0px 0.3px 0.7px 0px rgba(0, 0, 0, 0.12), 0px 1.5px 2.8px 0px rgba(0, 0, 0, 0.07), 0px 4px 9px 0px rgba(0, 0, 0, 0.05);
  margin: 0 3px;
}
#barWorkspace:hover {
  background-color: var(--custom-button-hover-color-red);
}
#barWorkspace .toolbar__svg {
  color: var(--custom-button-text-color);
}
#barWorkspace .toolbar__text {
  color: var(--custom-button-text-color);
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
/* ------------------------底栏------------------------ */
#status {
  background-color: var(--custom-status-bar-background-color);
  border-top: 1px solid var(--custom-components-deep);
}
/* ------------------------ 侧栏 ------------------------ */
#dockLeft,
#dockRight {
  background-color: var(--custom-dock-background-color);
  border: none;
  width: var(--custom-dock-width);
}
#dockLeft .dock__item,
#dockRight .dock__item {
  margin: 7px 4px;
  justify-content: center;
}
#dockBottom {
  background-color: var(--custom-dock-background-color);
  border: none;
  height: var(--custom-dock-width);
}
