/* ------------------------ 列表 ------------------------ */
.protyle-content[data-fullwidth] .protyle-wysiwyg > [data-node-id].li::before {
  display: none;
}
.protyle-content[data-fullwidth] .protyle-wysiwyg > [data-node-id].li > .protyle-action {
  opacity: 0;
}
.protyle-content[data-fullwidth] .protyle-wysiwyg > [data-node-id].li > :nth-child(2) {
  font-size: 1.5em;
  font-weight: bold;
}
.protyle-content[data-fullwidth] .protyle-wysiwyg > [data-node-id].li > [data-node-id] {
  margin-left: 3px !important;
  padding-left: 3px;
}
