/* ------------------------ 嵌入块 ------------------------ */
.protyle-wysiwyg .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] {
  border-radius: 0px;
  background-color: var(--custom-block-embed-background-color) !important;
  border: 2px solid var(--custom-line-color);
}
.protyle-wysiwyg .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] + [data-node-id][data-type="NodeBlockQueryEmbed"] {
  margin-top: 0.5em;
}
.protyle-wysiwyg .render-node[data-node-id][data-type="NodeBlockQueryEmbed"]:hover {
  border: 2px solid var(--b3-theme-on-surface);
}
.protyle-wysiwyg[custom-sy-readonly="true"] .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] > .protyle-icons {
  opacity: 1;
}
.protyle-wysiwyg[custom-sy-readonly="true"] .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] > .protyle-icons > .protyle-action__edit {
  display: none;
}
