/* ------------------------ 代码块 ------------------------ */
.b3-typography pre,
.protyle-wysiwyg pre,
.b3-typography .code-block,
.protyle-wysiwyg .code-block {
  background-color: var(--custom-block-code-background-color);
}
.b3-typography pre > .hljs,
.protyle-wysiwyg pre > .hljs,
.b3-typography .code-block > .hljs,
.protyle-wysiwyg .code-block > .hljs {
  background-color: transparent;
}
.b3-typography .protyle-linenumber__rows,
.b3-typography .hljs {
  padding: 0.5em;
}
.protyle-wysiwyg [data-node-id].code-block {
  margin: 0.5em 0;
}
.protyle-wysiwyg [data-node-id].code-block > .protyle-action {
  justify-content: end;
  align-items: center;
}
.protyle-wysiwyg [data-node-id].code-block > .protyle-action > span {
  opacity: unset;
}
.protyle-wysiwyg [data-node-id].code-block > .protyle-action > span.protyle-action__language {
  margin-right: 0.5em;
  line-height: normal;
}
.protyle-wysiwyg [data-node-id].code-block > .protyle-action > span.fn__flex-1 {
  flex: 0;
}
.protyle-wysiwyg [data-node-id].code-block > .hljs {
  background-color: var(--custom-block-code-background-color);
}
.protyle-wysiwyg [data-node-id].code-block > .protyle-linenumber__rows {
  padding-right: 0.5em;
  border-right: 1px solid var(--custom-block-code-linenumber-separator-color);
  background-color: var(--custom-block-code-linenumber-background-color);
}
.protyle-wysiwyg [data-node-id].code-block > .protyle-attr {
  top: -16px;
}
.protyle-wysiwyg [data-node-id].code-block.protyle-wysiwyg--hl > .hljs,
.protyle-wysiwyg [data-node-id].code-block.protyle-wysiwyg--select > .hljs,
.protyle-wysiwyg [data-node-id].code-block.protyle-wysiwyg--hl > .protyle-linenumber__rows,
.protyle-wysiwyg [data-node-id].code-block.protyle-wysiwyg--select > .protyle-linenumber__rows {
  background-color: transparent !important;
}
.protyle-wysiwyg [data-node-id][fold="1"].code-block {
  height: 80px !important;
}
.protyle-wysiwyg [data-node-id][fold="1"].code-block > .protyle-action {
  padding-top: 12px;
}
.protyle-wysiwyg [data-node-id][fold="1"].code-block > .hljs {
  padding-top: 12px;
  margin-left: 3.6em;
}
.protyle-wysiwyg [data-node-id][fold="1"].code-block > .protyle-linenumber__rows {
  position: absolute;
  top: 0;
  padding-top: 12px;
}
.protyle-wysiwyg--hl .code-block .hljs {
  background-color: transparent !important;
}
