:root {
    /* 主色 */
    --b3-theme-primary: #0969da;
    --b3-theme-primary-light: rgba(9, 105, 218, 0.54);
    --b3-theme-primary-lighter: rgba(9, 105, 218, 0.38);
    --b3-theme-primary-lightest: rgba(9, 105, 218, 0.12);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #fff;
    --b3-theme-background-light: #dfe0e1;
    --b3-theme-surface: #f3f3f3;
    --b3-theme-surface-light: rgba(243, 243, 243, .86);
    --b3-theme-error: #d23f31;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #202124;
    --b3-theme-on-surface: #5f6368;
    --b3-theme-on-surface-light: rgba(95, 99, 104, .68);
    --b3-theme-on-error: #fff;

    /* 字体 */
    --b3-font-family: "quote", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: "JetBrainsMono-Regular", mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-graph: mononoki;
    --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
    --b3-font-family-math: KaTeX_Math;

    /* 线条 */
    --b3-border-color: rgba(0, 0, 0, .06);

    /* 滚动条 */
    --b3-scroll-color: rgba(0, 0, 0, .2);

    /* 列表 */
    --b3-list-hover: #e9eaea;

    /* 菜单 */
    --b3-menu-background: #f8f9fa;

    /* 提示 */
    --b3-tooltips-color: rgba(0, 0, 0, 0.54);

    /* 遮罩 */
    --b3-mask-background: rgba(0, 0, 0, 0.78);

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);

    /* 自定义文字 */
    --b3-font-color1: var(--b3-card-error-color);
    --b3-font-color2: var(--b3-card-warning-color);
    --b3-font-color3: var(--b3-card-info-color);
    --b3-font-color4: var(--b3-card-success-color);
    --b3-font-color5: var(--b3-theme-on-surface);
    --b3-font-color6: var(--b3-theme-primary);
    --b3-font-color7: var(--b3-theme-secondary);
    --b3-font-color8: var(--b3-theme-error);
    --b3-font-color9: #f5539e;
    --b3-font-color10: #944194;
    --b3-font-color11: #65b84d;
    --b3-font-color12: #f5822e;
    --b3-font-color13: var(--b3-theme-background);
    --b3-font-background1: var(--b3-card-error-background);
    --b3-font-background2: var(--b3-card-warning-background);
    --b3-font-background3: var(--b3-card-info-background);
    --b3-font-background4: var(--b3-card-success-background);
    --b3-font-background5: var(--b3-theme-surface);
    --b3-font-background6: var(--b3-theme-primary-light);
    --b3-font-background7: rgba(217, 211, 215, 0.5);
    --b3-font-background8: rgba(255, 193, 153, 0.5);
    --b3-font-background9: rgba(189, 201, 255, 0.5);
    --b3-font-background10: rgba(239, 218, 251, 0.5);
    --b3-font-background11: rgba(234, 202, 220, 0.5);
    --b3-font-background12: rgba(253, 198, 200, 0.5);
    --b3-font-background13: var(--b3-theme-on-background);

    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #ffe955;
    --b3-protyle-search-border-color: #f2e680;
    --b3-protyle-search-current-background: #a5d3fe;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(27, 31, 35, .05);
    --b3-protyle-code-linenumber-hl: #b9d1f4;

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #202124;
    --b3-protyle-inline-em-color: #202124;
    --b3-protyle-inline-s-color: #202124;
    --b3-protyle-inline-link-color: #4285f4;
    --b3-protyle-inline-mark-background: #ffe955;
    --b3-protyle-inline-mark-color: #202124;
    --b3-protyle-inline-tag-color: #5f6368;
    --b3-protyle-inline-blockref-color: #660e7a;

    /* PDF */
    --b3-pdf-selection: #d0e9c8;
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-theme-error);
    --b3-pdf-background2: #f5822e;
    --b3-pdf-background3: var(--b3-theme-secondary);
    --b3-pdf-background4: #65b84d;
    --b3-pdf-background5: #f5539e;
    --b3-pdf-background6: var(--b3-theme-primary);
    --b3-pdf-background7: #944194;
    
    /* 自定义样式 */

    /* 块引用标记 */
    --custom-ref-l: "[[";
    --custom-ref-r: "]]";

    /* 阴影散布宽度 | Shadow spread */
    --custom-box-shadow-spread: 5px;

    /* 阴影颜色 | Shadow color */
    --custom-box-shadow-color: var(--b3-theme-on-background);

    /* 圆角弧度 | Rounded arc */
    --custom-border-radius: 5px;

    /* 超级块内边距 | The inner margin of the superblock */
    --custom-block-padding: 5px;

    /* 透明组件颜色 | Transparent component color */
    --custom-transparent-lighter: #ebeaf015;
    --custom-transparent-light: #ebeaf045;
    --custom-transparent: #ebeaf075;
    --custom-transparent-deep: #ebeaf0a5;
    --custom-transparent-deeper: #ebeaf0d5;

    /* 不透明的组件颜色 | Opaque component color */
    --custom-components-light: #fff;
    --custom-components: #f0f0f0;
    --custom-components-deep: #d9d9d9;

    /* 边栏背景颜色 */
    --custom-dock-background-color: var(--custom-components);

    /* 顶部工具栏背景颜色 | The background color of the top toolbar */
    --custom-tool-bar-background-color: var(--custom-components);
    /* 顶部工具栏被激活控件阴影散布 | The box shadow spread of toolbar item which is activated */
    --custom-toolbar-tiem-active-box-shadow-spread: 5px;
    /* 顶部工具栏被激活控件颜色 | The color of toolbar item which is activated */
    --custom-toolbar-tiem-active-color: var(--b3-theme-on-background);
    /* 顶部工具栏被激活控件背景颜色 | The background color of toolbar item which is activated */
    --custom-toolbar-tiem-active-background-color: var(--b3-theme-background-light);

    /* 底部状态栏背景颜色 | The background color of the bottom status bar */
    --custom-status-bar-background-color: var(--custom-components);

    /* 收集箱内容预览背景颜色 | The background color of inbox contents preview */
    --custom-inbox-background-color: var(--custom-transparent-light);

    /* 编辑区背景颜色 | The background color of the edit area */
    --custom-editor-background-color: var(--custom-transparent-light);

    /* 编辑区页签栏背景颜色 | The background color of the  edit area tab bar */
    --custom-tab-bar-background-color: var(--custom-transparent-light);
    /* 页签图标大小 | The size of the tab bar icon */
    --custom-tab-bar-icon-size: 1.25em;
    /** 页签项排列方式 | The wrap style of tab bar
        *  wrap: 多行显示
        *  nowrap: 单行显示
        */
    --custom-tab-bar-flex-wrap: wrap;
    /* 页签纵向排列时最大宽度 | The maximum width of the tabs witch have vertical aligned */
    --custom-tab-bar-vertical-max-width: 20%;

    /* iframe 块背景颜色 | The background color of iframe block */
    --custom-block-iframe-background-color: var(--custom-transparent);

    /* 代码块背景颜色 | The background color of code block */
    --custom-block-code-background-color: var(--custom-components);
    /* 代码块行号背景颜色 | The background color of code block linenumber */
    --custom-block-code-linenumber-background-color: var(--custom-transparent-light);
    /* 代码块行号与编辑区的分隔线 | The separator line between the line number of the code block and the edit area */
    --custom-block-code-linenumber-separator-width: 1px;
    --custom-block-code-linenumber-separator-color: var(--b3-border-color);

    /* 嵌入块背景颜色 | The background color of embed block */
    --custom-block-embed-background-color: var(--custom-transparent-lighter);

    /* 引述块背景颜色 | The background color of quote block */
    --custom-block-quote-background-color: var(--custom-transparent);

    /* 超级块背景颜色 | The background color of super block */
    --custom-block-super-background-color: var(--custom-transparent-lighter);

    /* 表格块背景颜色 | The background color of table block */
    --custom-block-table-background-color: transparent;
    /* 表头 | thead */
    --custom-block-table-thead-background-color: var(--custom-components-light);
    /* 奇数行 | odd line */
    --custom-block-table-odd-background-color: var(--custom-transparent-lighter);
    /* 偶数行 | even line */
    --custom-block-table-even-background-color: var(--custom-transparent-light);
    /* 鼠标悬浮行 | hover line */
    --custom-block-table-hover-background-color: var(--custom-components-light);

    /* 列表项聚焦颜色 | List item focus color */
    --custom-list-item-color: var(--b3-protyle-inline-link-color);

    /* 列表辅助线弧度 | Rounded arc of list guides line */
    --custom-list-guides-line-radius: 16px;

    /* 列表辅助线宽度 | The width of list guides line */
    --custom-list-guides-line-width: 2px;

    /* 列表辅助线颜色 | The color of list guides line */
    --custom-list-guides-line-color: var(--b3-theme-background-light);

    /* 列表辅助线与上层节点的接缝 | The seams between the list guides line and the upper layer nodes */
    --custom-list-guides-line-top: -4px;

    /* 列表辅助线与本层节点的接缝 | The seams between the list guides line and the local layer nodes */
    --custom-list-guides-line-right-t: calc(22px + 5em / 16);
    --custom-list-guides-line-right-u: calc(22px + 5em / 16);
    --custom-list-guides-line-right-o: calc(14px + 1em);

    /* 标记文字背景颜色 | The background color of the marker text */
    --cusotm-span-mark-background-color: var(--b3-theme-primary-lighter);

    /* 思源标记颜色 | The color of mark */
    --custom-span-mark-color: var(--b3-card-info-color);

    /* 标记文字背景颜色 | The background color of the marker text */
    --cusotm-span-mark-background-color: var(--b3-theme-primary-lighter);

    /* 思源标记阴影颜色 | The shadow color of mark */
    --custom-span-mark-shadow-color: var(--b3-theme-on-primary);

    /* 思源标记阴影宽度 | The shadow width of mark */
    --custom-span-mark-shadow-width: 4px;

    /* 删除线颜色 | The color of the strikethrough */
    --cusotm-span-strikethrough-color: var(--b3-theme-on-surface);

    /* 自定义线条颜色 | Line color */
    --custom-line-color: var(--b3-scroll-color);

    /* 思源内部超链接颜色 | The color of SiYuan internal hyperlink */
    --custom-span-siyuan-link-color: var(--b3-protyle-inline-link-color);

    /* 思源内部超链选中颜色 */
    --custom-span-siyuan-link-hover: var(--b3-protyle-inline-mark-color);

    /* 思源块引用颜色 | The color of SiYuan block reference */
    --custom-span-block-ref-color: #1890FF;

    /* 思源块引用选中颜色 */
    --custom-span-block-ref-hover-color: #1476d1;

    /* 思源文件注释引用颜色 | The color of SiYuan file comment reference */
    --custom-span-file-ref-color: var(--b3-card-warning-color);

    /* 思源标签颜色 | The color of tag */
    --custom-span-tag-color: var(--b3-theme-on-primary);

    /* 思源标签背景颜色 | The background color of tag */
    --custom-span-tag-background-color: var(--b3-font-background9);
    --custom-span-doc-tag-background-color: var(--b3-theme-primary-lighter);

    /* 思源虚拟引用背景颜色 | The background color of virtual block ref */
    --custom-span-virtual-ref-background-color: var(--custom-components-light);

    /* 功能面板间隔距离 | Function panel spacing distance */
    --custom-panel-distance: 3px;

    /* 功能面板分隔线补偿距离 | Function panel dividers compensate for distance
     * 需要设置为 --custom-panel-distance 的负值 | A negative value of --custom-panel-distance is required
     */
    --custom-separator-distance-compensation: calc(0px - var(--custom-panel-distance));

    /* 弹出菜单 | popover menu */
    /* 弹出菜单背景颜色 | The background color of the popover menu */
    --custom-popover-menu-background-color: var(--custom-components);
    /* 弹出菜单分隔线颜色 | The color of the popover menu */
    --custom-popover-menu-separator-color: var(--b3-border-color);
    /* 弹出菜单中块属性字段颜色 | The color of the search menu block attribute field */
    --custom-popover-menu-attribute-color: var(--b3-card-warning-color);
    /* 弹出菜单中路径字段颜色 | The color of the path field */
    --custom-popover-menu-path-color: var(--b3-card-info-color);
    /* 弹出菜单内边距宽度 | The padding width of the popover menu */
    --custom-popover-menu-padding-width: 0.25em;
    /* 弹出菜单轮廓宽度 | The outline width of the popover menu */
    --custom-popover-menu-outline-width: 1px;
    /* 弹出菜单轮廓样式 | The outline style of the popover menu */
    --custom-popover-menu-outline-style: solid;
    /* 弹出菜单轮廓颜色 | The outline color of the popover menu */
    --custom-popover-menu-outline-color: var(--b3-scroll-color);
    /* 弹出菜单输入框最小宽度 | The min width of the popover menu input */
    /* --custom-popover-menu-input-min-width: 50vw; */
    --custom-popover-menu-input-min-width: none;

    /* 遮罩背景颜色 | Scrim background color */
    --custom-scrim-background-color: var(--custom-transparent-light);

    /* 编辑区内边距 | Padding of editor pannel */
    --custom-editor-padding-left: 24px;
    --custom-editor-padding-right: 24px;

    /* 拖拽参考线颜色 | The color of drag guide */
    --custom-drag-top-shadow-color: var(--b3-theme-primary-lighter);
    --custom-drag-bottom-shadow-color: var(--b3-theme-primary-lighter);
    --custom-drag-left-shadow-color: var(--b3-font-color12);
    --custom-drag-right-shadow-color: var(--b3-font-color12);

    /* 子标题序号缩放 | Subheadings ordinal scaling */
    --custom-h-num-font-size: 50%;

    /* 子标题折叠标记 | Subheadings collapse marker */
    /* REF [箭头图案 - Unicode 字符百科](https://unicode-table.com/cn/sets/arrow-symbols/) 
     * ⭿ ⭱ ⭳ ↥ ↧ ↨ ⭻ ⇞ ⭽ ↕ ⇝ ⬳ ⟿ ⇼ ⮉ ⮋ ...
     */
     --custom-h-fold-mark: "⭿";

    /* 子标题层级标记 | Subheading level markers */
    --custom-h1-mark: "¹";
    --custom-h2-mark: "²";
    --custom-h3-mark: "³";
    --custom-h4-mark: "⁴";
    --custom-h5-mark: "⁵";
    --custom-h6-mark: "⁶";

    /* 子标题及其对应大纲颜色 | Subheadings and their corresponding outline colors */
    --custom-h1-color: var(--b3-theme-on-background);
    --custom-h2-color: var(--b3-theme-on-background);
    --custom-h3-color: var(--b3-theme-on-background);
    --custom-h4-color: var(--b3-theme-on-background);
    --custom-h5-color: var(--b3-theme-on-background);
    --custom-h6-color: var(--b3-theme-on-background)

    
    /* 子标题缩进宽度 | The width of the subheading indentation */
    --custom-h1-indentation: 0.5em;
    --custom-h2-indentation: 1em;
    --custom-h3-indentation: 1.5em;
    --custom-h4-indentation: 2em;
    --custom-h5-indentation: 2.5em;
    --custom-h6-indentation: 3em;

    /* 对话框背景颜色 | Dialog background color */
    --custom-search-background-color: var(--custom-components);

    /* 搜索对话框尺寸 | The size of the search dialog box. */
    --custom-search-width: 90vw;
    --custom-search-height: 90vh;
}

/* PDF */
.textLayer,
.pdf__resize {
    /* dark 蓝色、紫色背景显示不清楚，文档位于 https://github.com/siyuan-note/siyuan/issues/5351 */
    mix-blend-mode: multiply;
}

.b3-typography div.hljs, .protyle-wysiwyg div.hljs {
    background-color: #f8f9fa;
}