/* ------------------------ 设置面板 ------------------------ */

.config__panel {
    border-radius: 12px;

    // 设置页面左侧：页签列表
    .b3-tab-bar {
        background-color: var(--custom-setting-tab-bar-background-color) !important;

        > .config__tab-title {
            padding: 0 8px;
        }

        > .config__tab-hr {
            margin: 16px 0 0 0;
        }
        
        > .b3-list-item  {
            margin: 3px 0 !important;
        }
    }

    // 设置页面右侧：内容面板
    .config__tab-wrap {
        background-color: var(--custom-setting-config-tab-background-color);

        // 集市
        > [data-name="bazaar"] {
            // 顶部页签
            .layout-tab-bar {
                .item {
                    border-radius: 0;
                }
            }

            // 集市内容
            .layout-tab-bar + div.fn__flex-1 > .bazaarPanel {
                
                // 选择卡顶部空白占位符
                > .fn__hr--b:first-child {
                    height: 8px;
                }
                
                // 选项卡
                > .fn__hr--b + .fn__flex:nth-child(2) {
                    position: sticky;
                    top: 8px;
                    z-index: 2;
                    
                    &::before {
                        content: "";
                        background-color: var(--custom-setting-config-tab-background-color);
                        width: 100%;
                        height: 46px; // 28px + 8px * 2
                        position: absolute;
                        top: -8px;
                        z-index: -1;
                    }
                    
                    > .b3-button--outline {
                        background-color: var(--b3-theme-primary-lightest);
                        color: var(--b3-theme-primary);
                    }

                    [data-type="myPlugin"]:not(.b3-button--outline) ~ .counter {
                        transform: translateX(-44px); // 28px + 16px
                    }
                }
                
                // 已下载
                > #configBazaarDownloaded {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                    gap: 16px;
                    margin: 8px 32px;
                    width: auto;

                    // 全部启用/禁用开关
                    > .fn__flex:first-child {
                        grid-column: 1/-1;

                        > [data-type="plugins-enable"] {
                            position: absolute;
                            top: 43px; // 36px + (28px -14px) / 2
                            right: 5px; // 滚动条宽度
                            margin: 8px 16px !important;
                            z-index: 2;
                        }
                    }

                    > .b3-card {
                        margin: 0;

                        .b3-card__info {
                            word-break: break-all;
                        }
                    }

                }

                // 集市
                [id*=configBazaar] {
                    width: 100%;

                    // 集市卡片
                    .b3-cards {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                        gap: 16px;
                        margin: 16px;
                        padding: 8px 16px;
    
                        .b3-card--wrap {
                            margin: 0;
                            min-width: 300px;
                        }
                    }
                    
                    // 集市菜单项
                    .b3-card {
                        background-color: var(--custom-setting-cards-background-color);
    
                        &:hover {
                            box-shadow: 
                                var(--b3-theme-primary-light) 0px 0px 0px 1px, 
                                var(--b3-theme-primary-light) 0px 2px 4px;
                            background-color: var(--custom-list-hover);
                            transform: translate(0px, -2px);
                        }
                    }
                }

                // 使用的主题
                .b3-card--current {
                    box-shadow: inset var(--b3-theme-primary-light) 0px 0px 0px 1px;
                }
            }

            // README
            #configBazaarReadme {
                z-index: 2;
            }
        }

        // 账户
        > [data-name="account"] {
            overflow: hidden;
        }

        // 针对所有配置页
        .config__tab-container {
            // 配置项
            .b3-label:not(.b3-label--inner) {
                box-shadow: initial;
                border-bottom: 1px solid var(--b3-border-color);
                margin-bottom: 16px;
                padding-bottom: 16px;
            }
        }
    }
}