.border-bottom {
  border-bottom: 1px solid var(--b3-theme-surface-lighter);
}
/* ------------------------搜索面板------------------------ */
.b3-dialog__container[style="width:80vw;height:90vh"] .search__header {
  background-color: var(--custom-components);
}
.b3-dialog__container[style="width:80vw;height:90vh"] .search__header > #searchInput {
  background-color: var(--custom-components);
}
.b3-dialog__container[style="width:80vw;height:90vh"] #criteria {
  border-bottom: 1px solid var(--b3-theme-surface-lighter);
  background-color: var(--custom-components) !important;
}
.b3-dialog__container[style="width:80vw;height:90vh"] #criteria > .b3-chips .b3-chip {
  border-radius: var(--custom-border-radius);
}
.b3-dialog__container[style="width:80vw;height:90vh"] #criteria > .b3-chips .b3-chip .b3-chip__close {
  width: 0;
}
.b3-dialog__container[style="width:80vw;height:90vh"] #criteria > .b3-chips .b3-chip:hover .b3-chip__close {
  width: 16px;
}
.b3-dialog__container[style="width:80vw;height:90vh"] .search__header ~ .block__icons {
  background-color: var(--custom-components);
}
.b3-dialog__container[style="width:80vw;height:90vh"] .search__layout .search__list > .b3-list-item[data-type="search-item"] {
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px;
  margin: 3px 0 !important;
  padding-bottom: calc(1.25em + 1px);
}
.b3-dialog__container[style="width:80vw;height:90vh"] .search__layout .search__list > .b3-list-item[data-type="search-item"] > .b3-list-item__text {
  padding: 3px 0;
}
.b3-dialog__container[style="width:80vw;height:90vh"] .search__layout .search__list > .b3-list-item[data-type="search-item"] > .b3-list-item__text > mark {
  margin: 0 0.125em;
  box-shadow: inset 0px 0px 0 1px var(--b3-theme-on-surface);
  padding: 0 0.125em;
  background-color: transparent;
  border-radius: var(--custom-border-radius);
}
.b3-dialog__container[style="width:80vw;height:90vh"] .search__layout .search__list > .b3-list-item[data-type="search-item"] > .b3-list-item__meta:not(.ariaLabel) {
  top: 0;
  right: 0;
  height: 28px;
  padding: 3px;
  position: absolute;
}
.b3-dialog__container[style="width:80vw;height:90vh"] .search__layout .search__list > .b3-list-item[data-type="search-item"] > .b3-list-item__meta.ariaLabel {
  bottom: 0px;
  margin-left: 2px;
  max-width: calc(100% - 12px);
  position: absolute;
}
.b3-dialog__container[style="width:80vw;height:90vh"] .search__preview [data-node-id] span[data-type~="search-mark"] {
  animation-name: change;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  padding: 0 0.125em;
  border-radius: var(--custom-border-radius);
}
/* ------------------------ 动画 ------------------------ */
@keyframes change {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: var(--b3-protyle-search-background);
  }
}
