/* ------------------------ 设置面板 ------------------------ */
.config__panel {
  border-radius: 12px;
}
.config__panel .b3-tab-bar {
  background-color: var(--custom-setting-tab-bar-background-color) !important;
}
.config__panel .b3-tab-bar > .config__tab-title {
  padding: 0 8px;
}
.config__panel .b3-tab-bar > .config__tab-hr {
  margin: 16px 0 0 0;
}
.config__panel .b3-tab-bar > .b3-list-item {
  margin: 3px 0 !important;
}
.config__panel .config__tab-wrap {
  background-color: var(--custom-setting-config-tab-background-color);
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar .item {
  border-radius: 0;
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel > .fn__hr--b:first-child {
  height: 8px;
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel > .fn__hr--b + .fn__flex:nth-child(2) {
  position: sticky;
  top: 8px;
  z-index: 2;
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel > .fn__hr--b + .fn__flex:nth-child(2)::before {
  content: "";
  background-color: var(--custom-setting-config-tab-background-color);
  width: 100%;
  height: 46px;
  position: absolute;
  top: -8px;
  z-index: -1;
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel > .fn__hr--b + .fn__flex:nth-child(2) > .b3-button--outline {
  background-color: var(--b3-theme-primary-lightest);
  color: var(--b3-theme-primary);
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel > .fn__hr--b + .fn__flex:nth-child(2) [data-type="myPlugin"]:not(.b3-button--outline) ~ .counter {
  transform: translateX(-44px);
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel > #configBazaarDownloaded {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  margin: 8px 32px;
  width: auto;
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel > #configBazaarDownloaded > .fn__flex:first-child {
  grid-column: 1/-1;
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel > #configBazaarDownloaded > .fn__flex:first-child > [data-type="plugins-enable"] {
  position: absolute;
  top: 43px;
  right: 5px;
  margin: 8px 16px !important;
  z-index: 2;
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel > #configBazaarDownloaded > .b3-card {
  margin: 0;
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel > #configBazaarDownloaded > .b3-card .b3-card__info {
  word-break: break-all;
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel [id*=configBazaar] {
  width: 100%;
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel [id*=configBazaar] .b3-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  margin: 16px;
  padding: 8px 16px;
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel [id*=configBazaar] .b3-cards .b3-card--wrap {
  margin: 0;
  min-width: 300px;
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel [id*=configBazaar] .b3-card {
  background-color: var(--custom-setting-cards-background-color);
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel [id*=configBazaar] .b3-card:hover {
  box-shadow: var(--b3-theme-primary-light) 0px 0px 0px 1px, var(--b3-theme-primary-light) 0px 2px 4px;
  background-color: var(--custom-list-hover);
  transform: translate(0px, -2px);
}
.config__panel .config__tab-wrap > [data-name="bazaar"] .layout-tab-bar + div.fn__flex-1 > .bazaarPanel .b3-card--current {
  box-shadow: inset var(--b3-theme-primary-light) 0px 0px 0px 1px;
}
.config__panel .config__tab-wrap > [data-name="bazaar"] #configBazaarReadme {
  z-index: 2;
}
.config__panel .config__tab-wrap > [data-name="account"] {
  overflow: hidden;
}
.config__panel .config__tab-wrap .config__tab-container .b3-label:not(.b3-label--inner) {
  box-shadow: initial;
  border-bottom: 1px solid var(--b3-border-color);
  margin-bottom: 16px;
  padding-bottom: 16px;
}
