/* ------------------------ 弹出菜单 ------------------------ */
.protyle-hint {
  background-color: var(--custom-popover-menu-background-color);
  width: auto !important;
  max-width: 50vw;
}
.protyle-hint .b3-list-item {
  width: 100% !important;
}
.protyle-hint .b3-list-item:first-child {
  margin-top: 0;
  min-height: 34px;
}
.protyle-hint .b3-list-item:last-child {
  margin-bottom: 0;
}
.protyle-hint > .emojis .emojis__item {
  height: 32px;
  width: 32px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  font-size: 18px;
  margin: 0 4px 4px 0;
}
.protyle-hint > .emojis .emojis__item img,
.protyle-hint > .emojis .emojis__item svg.costom-icon {
  margin: 0;
  width: 18px;
  height: 18px;
  padding: 7px;
  display: block;
}
.hint--menu {
  max-height: 450px;
}
.hint--menu > div {
  border: none;
  columns: 50px 4;
  column-rule: 1px solid var(--b3-border-color);
  max-height: none !important;
}
.hint--menu .b3-list-item {
  width: 100% !important;
}
.hint--menu .b3-list-item .hint--menu .b3-list-item__graphic {
  margin-right: 3px;
}
.hint--menu .b3-list-item .b3-list-item__text {
  margin-left: 5px;
}
