/* ------------------------ 图片样式 ------------------------ */
.b3-typography span.img img:not(.emoji),
.protyle-wysiwyg span.img img:not(.emoji) {
  box-shadow: 0 0 1px var(--custom-box-shadow-color);
  border-radius: var(--custom-border-radius);
  width: 100% !important;
  max-width: 50vw;
}
