/* ------------------------ 块引用 ------------------------ */
.protyle-wysiwyg [data-node-id] span[data-type~="block-ref"] {
  color: var(--custom-span-block-ref-color);
}
.protyle-wysiwyg [data-node-id] span[data-type~="block-ref"]::before {
  content: var(--custom-ref-l);
  color: var(--b3-theme-on-surface-light);
  display: inline-block;
  text-align: center;
  margin: 0 0 0 0.125em;
  padding: 0;
}
.protyle-wysiwyg [data-node-id] span[data-type~="block-ref"]::after {
  content: var(--custom-ref-r);
  color: var(--b3-theme-on-surface-light);
  display: inline-block;
  text-align: center;
  margin: 0 0.125em 0 0;
  padding: 0;
}
.protyle-wysiwyg [data-node-id] span[data-type~="block-ref"]:hover {
  color: var(--custom-span-block-ref-hover-color);
}
.protyle-wysiwyg [data-node-id] span[data-type~="block-ref"].def--mark {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
}
