/* ------------------------ 标记 ------------------------ */
.b3-typography mark,
.protyle-wysiwyg mark,
.b3-typography span[data-type~="mark"],
.protyle-wysiwyg span[data-type~="mark"] {
  background-color: var(--custom-span-mark-background-color);
  border-bottom: 0.1em solid var(--custom-span-mark-display-color);
}
.b3-typography mark:hover,
.protyle-wysiwyg mark:hover,
.b3-typography span[data-type~="mark"]:hover,
.protyle-wysiwyg span[data-type~="mark"]:hover {
  color: var(--custom-span-mark-color);
}
