/* ------------------------ 页签 ------------------------ */
.layout-tab-bar {
  flex-wrap: var(--custom-tab-bar-flex-wrap);
  background-color: var(--custom-tab-bar-background-color);
}
.layout-tab-bar .item {
  box-shadow: inset 0 0 0 0.5px var(--custom-components-deep);
  border-top-left-radius: var(--custom-border-radius);
  border-top-right-radius: var(--custom-border-radius);
  min-height: var(--custom-tab-bar-min-height);
  max-width: none;
}
.layout-tab-bar .item .item__icon {
  padding: 0px;
  padding-left: 8px;
}
.layout-tab-bar .item .item__icon svg,
.layout-tab-bar .item .item__icon img {
  width: var(--custom-tab-bar-icon-size);
  height: var(--custom-tab-bar-icon-size);
}
.layout-tab-bar .item .item__close {
  padding: 4px !important;
}
.layout-tab-bar .item .item__text {
  mask-image: none;
  -webkit-mask-image: none;
}
.layout-tab-bar .item:not(.item--pin) {
  min-width: var(--custom-tab-bar-item-min-width);
}
.layout-tab-bar .item:not(.item--pin) .item__text {
  padding-right: 0;
}
.layout-tab-bar .item.item--pin .item__text {
  width: auto;
  max-width: none;
  display: flex !important;
}
.layout-tab-bar .item.item--focus {
  background-color: var(--custom-list-hover);
  box-shadow: none !important;
}
.layout-tab-bar .item.item--focus::after {
  display: none;
}
.layout-tab-bar .item--readonly {
  border-top-left-radius: 0px;
  padding-left: 0px;
}
.layout-tab-bar .item--readonly span[data-type="new"] {
  margin: var(--custom-block-padding);
}
/* ------------------------ 新窗口页签 ------------------------ */
.layout.layout__center .layout-tab-bar {
  height: var(--custom-tab-bar-min-height);
}
.layout.layout__center .layout-tab-bar--readonly {
  padding-right: calc(var(--custom-tab-bar-min-height) * 4) !important;
}
.layout.layout__center .layout-tab-bar--readonly .item--readonly > span[style] {
  height: var(--custom-tab-bar-min-height) !important;
}
.toolbar__window > .toolbar__item {
  padding: calc((var(--custom-tab-bar-min-height) - 13.5px) / 2);
}
.toolbar__window #closeWindow {
  padding: calc((var(--custom-tab-bar-min-height) - 13.5px) / 2) calc((var(--custom-tab-bar-min-height) - 10px) / 2);
}
