:root {
    /* GitHub 配色 */
    --lite-github-top: #25292f;
    --lite-github-deep: #f6f8fa;
    --lite-github-light: #ffffff;
    
    --lite-github-folder: #6daefa;
    --lite-github-link: #2f6bd4;
    --lite-github-link-hover: #2f6bdb;

    /* RoamEdit 配色 */
    --lite-re-link: #4591f9;
    --lite-re-link-mark: hsl(215deg 24% 85%);
}