.protyle-wysiwyg [data-node-id][custom-riff-decks] {
  margin: 0.2em 0;
}
.protyle-wysiwyg [data-node-id][custom-riff-decks].li,
.protyle-wysiwyg [data-node-id][custom-riff-decks].list {
  box-shadow: 0.1em 0.1em 0.2em var(--custom-flash-card-box-shadow-color), inset 0.1em 0 0 var(--custom-flash-card-list-color);
}
.protyle-wysiwyg [data-node-id][custom-riff-decks].li > .p ~ .p > [spellcheck][contenteditable],
.protyle-wysiwyg [data-node-id][custom-riff-decks].list > .p ~ .p > [spellcheck][contenteditable] {
  color: var(--b3-theme-on-surface-light);
}
.protyle-wysiwyg [data-node-id][custom-riff-decks].p {
  box-shadow: 0.1em 0.1em 0.2em var(--custom-flash-card-box-shadow-color), inset 0.1em 0 0 var(--custom-flash-card-p-color);
  padding-left: var(--custom-block-padding);
}
.protyle-wysiwyg [data-node-id][custom-riff-decks].sb {
  box-shadow: 0.1em 0.1em 0.2em var(--custom-flash-card-box-shadow-color), inset 0.1em 0 0 var(--custom-flash-card-sb-color);
}
.protyle-wysiwyg [data-node-id][custom-riff-decks].sb > .p {
  margin-left: var(--custom-block-padding);
}
.card__block.card__block--hidesb.card__block--hideli .sb[custom-riff-decks] > .list:first-child > .li > .list {
  display: block;
}
.card__block.card__block--hidesb.card__block--hideli .sb[custom-riff-decks] > .list:first-child > .li > .list > .li span[data-type~="strong"] {
  font-weight: normal;
}
.card__block .protyle-wysiwyg .p span[data-type="mark"] {
  color: transparent;
}
.card__block .protyle-wysiwyg .p span[data-type="mark"]:hover {
  color: var(--b3-protyle-inline-mark-color);
}
.card__block .protyle-wysiwyg .p.block-focus span[data-type="mark"] {
  color: var(--b3-protyle-inline-mark-color);
}
