/* 弹出菜单 */

@import url(/appearance/themes/Lite/style/module/config.css);

/* 移动端菜单 */
#model,
/* 全局右键菜单 */
#commonMenu {
    background-color: var(--custom-popover-menu-background-color);
    background-image: var(--custom-background-image);
}

/* 菜单项 */
#commonMenu .b3-menu__item {
  background-color: transparent;
}

/* 鼠标悬停菜单项 */
#commonMenu .b3-menu__item.b3-menu__item--current {
  background-color: var(--custom-popover-menu-hover-color) !important;
}

/* 子菜单 */
#commonMenu .b3-menu__item > .b3-menu__submenu {
  background-color: var(--custom-popover-menu-background-color);
  background-image: var(--custom-background-image);
}

/* 菜单分割线 */
#commonMenu .b3-menu__separator {
  height: 2px;
  background-color: var(--custom-popover-menu-separator-color);
}

/* '/' 菜单 */
.b3-list.b3-list--background.b3-menu.hint--menu {
  /* REF: [第一个子元素在未超过父元素高度的情况下设置margin-top导致出现竖向滚动条的问题_Andrasen的博客-CSDN博客](https://blog.csdn.net/Andrasen/article/details/105676175) */
  padding: var(--custom-popover-menu-padding-width);
  background-color: var(--custom-popover-menu-background-color) !important;
  background-image: var(--custom-background-image);
  width: auto !important;
  outline: var(--custom-popover-menu-outline-width) var(--custom-popover-menu-outline-style) var(--custom-popover-menu-outline-color);
  overflow-x: visible !important;
  column-count: 4;
  column-gap: 1em;
  column-rule: var(--custom-popover-menu-separator-width) solid var(--custom-popover-menu-separator-color);
  max-height: none !important;
}
/* '/' 菜单项样式 */
.b3-list.b3-list--background.b3-menu.hint--menu > .b3-list-item.b3-list-item {
  background-color: transparent;
  outline: 1px solid var(--custom-separator-color);
}
/* '/' 菜单项选中样式 */
.b3-list.b3-list--background.b3-menu.hint--menu > .b3-list-item.b3-list-item--focus {
    background-color: var(--custom-popover-menu-focus-color);
    outline: 1px solid var(--custom-separator-color);
}
/* '/' 菜单项鼠标悬浮样式 */
.b3-list.b3-list--background.b3-menu.hint--menu > .b3-list-item.b3-list-item:hover {
  background-color: var(--custom-popover-menu-focus-color);
  outline: 1px solid var(--custom-separator-color);
}

/* 表情菜单 */
.b3-list.b3-list--background.b3-menu.hint--menu > .emojis {
  /* REF https: //github.com/siyuan-note/siyuan/issues/4575#issuecomment-1152490468 */
  column-span: all;
}

/* 分割线 */
.b3-list.b3-list--background.b3-menu.hint--menu > div.b3-menu__separator {
  background-color: var(--custom-popover-menu-separator-color);
}

/* 第1条分割线 */
.b3-list.b3-list--background.b3-menu.hint--menu > div.b3-menu__separator:first-of-type {
  height: 35px;
  background-color: transparent;
}

/* 一级子标题 */
.b3-list.b3-list--background.b3-menu.hint--menu > div.b3-menu__separator:first-of-type + button *:is(.b3-list-item__graphic, .b3-list-item__text) {
  color: var(--custom-h1-color);
}
/* 二级子标题 */
.b3-list.b3-list--background.b3-menu.hint--menu > div.b3-menu__separator:first-of-type + button + button *:is(.b3-list-item__graphic, .b3-list-item__text) {
  color: var(--custom-h2-color);
}
/* 三级子标题 */
.b3-list.b3-list--background.b3-menu.hint--menu > div.b3-menu__separator:first-of-type + button + button + button *:is(.b3-list-item__graphic, .b3-list-item__text) {
  color: var(--custom-h3-color);
}
/* 四级子标题 */
.b3-list.b3-list--background.b3-menu.hint--menu > div.b3-menu__separator:first-of-type + button + button + button + button *:is(.b3-list-item__graphic, .b3-list-item__text) {
  color: var(--custom-h4-color);
}
/* 五级子标题 */
.b3-list.b3-list--background.b3-menu.hint--menu > div.b3-menu__separator:first-of-type + button + button + button + button + button *:is(.b3-list-item__graphic, .b3-list-item__text) {
  color: var(--custom-h5-color);
}
/* 六级子标题 */
.b3-list.b3-list--background.b3-menu.hint--menu > div.b3-menu__separator:first-of-type + button + button + button + button + button + button *:is(.b3-list-item__graphic, .b3-list-item__text) {
  color: var(--custom-h6-color);
}

/* 第4条分割线 */
.b3-list.b3-list--background.b3-menu.hint--menu > div.b3-menu__separator:nth-of-type(4) {
  height: 0;
  background-color: transparent;
}