/* ------------------------弹出菜单&设置菜单------------------------ */
/* 弹出菜单 */
.b3-menu {
  background-color: var(--custom-popover-menu-background-color);
}
/* 子菜单 */
.b3-menu .b3-menu__submenu {
  background-color: var(--custom-popover-menu-background-color);
  padding: var(--custom-popover-menu-padding-width);
}
/* 菜单项 */
.b3-menu__item {
  background-color: var(--custom-popover-menu-background-color);
}
.b3-menu__item:hover {
  background-color: var(--custom-list-hover);
}

/* ------------------------'/'弹出分栏------------------------*/
.hint--menu {
  width: auto !important;
}

.hint--menu > div {
  columns: 50px 4;
  column-rule: var(--custom-list-guides-line-width) solid var(--b3-border-color);
  border:none;
  min-width: 50vw;
  max-height: none !important;
}
.hint--menu .b3-list-item {
  width: 100%!important;
  padding: 0 4px !important;
}
.hint--menu .b3-list-item__text {
  margin:0 0 0 8px;
  color:var(--b3-theme-on-background);
}
.hint--menu .b3-list-item__graphic {
  margin:0px;
  width:10px;
  height:12px;
  border:1px solid var(--b3-border-color);
}
.hint--menu > .b3-list-item--two {
  margin:0;
}

.emojis__item {
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 32px;
  font-size: 18px;
  margin: 0 4px 4px 0;
}
.emojis__item img, .emojis__item svg.custom-icon {
  margin: 0;
  width: 18px;
  height:18px;
  padding: 7px;
  display: block;
}

/* ------------------------引用块弹出框------------------------ */
.protyle-hint > .b3-list-item {
  width: 100% !important;
  padding: 3px;
  margin: 3px 0 !important;
}

/* ------------------------模板预览------------------------ */
.protyle .protyle-util {
  background-color: var(--custom-popover-menu-background-color);
}
/* 模板预览展示区 */
.protyle .protyle-util > .fn__flex > .fn__flex-column + div {
  display: block !important;
  width: var(--custom-template-preview-width) !important;
  min-width: var(--custom-template-preview-min-width);
}
.protyle .protyle-util .b3-list-item {
  margin: 3px 0 !important;
}