/* ------------------------ 主题菜单 ------------------------ */
#commonMenu[data-name="siyuanThemeLite"] .b3-menu__items .b3-menu__item {
  width: 118px;
  height: 30px;
}
#commonMenu[data-name="siyuanThemeLite"] .b3-menu__items .b3-menu__item[data-use='1'] > svg > :not(svg) {
  color: blue;
}
