/* 代码块 */

@import url(../config.css);

/* 编辑区与导出预览共用样式 */
.b3-typography .code-block,
.protyle-wysiwyg .code-block {
  /* 块背景颜色 */
  background-color: var(--custom-block-code-background-color);
  border-radius: 5px;
}

/* 导出预览样式 */
.b3-typography .protyle-linenumber__rows,
.b3-typography .hljs {
  padding: 0.5em;
}

/* 编辑区样式 */
.protyle-wysiwyg [data-node-id].code-block > .protyle-action {
  /* 功能按钮栏 */
  left: auto;
  right: 0;
  top: 0;
}
.protyle-wysiwyg [data-node-id].code-block > .protyle-action > span {
  /* 功能按钮 */
  opacity: unset;
}
.protyle-wysiwyg [data-node-id].code-block > .protyle-action > span > .protyle-icons {
  /* 按钮图标 */
  top: 0;
  right: 0;
}
.protyle-wysiwyg [data-node-id].code-block > .protyle-action > span.protyle-action__language {
  /* 语言标签 */
  margin-left: 0.5em !important;
  margin-right: 0.5em;
  margin-top: -6px;
  font-size: 16px;
  padding-top: 4px;
}
.protyle-wysiwyg [data-node-id].code-block > .protyle-action > span.fn__flex-1 {
  /* 间隔 */
  flex: 0;
}
.protyle-wysiwyg [data-node-id].code-block > .protyle-linenumber {
  /* 行号标签 */
  background-color: var(--custom-block-code-background-color);
}
.protyle-wysiwyg [data-node-id].code-block > .protyle-linenumber__rows {
  /* 行号 */
  border-right: var(--custom-block-code-linenumber-separator-width) solid var(--custom-block-code-linenumber-separator-color);
  background-color: var(--custom-block-code-linenumber-background-color);
}
.protyle-wysiwyg [data-node-id].code-block > .protyle-attr {
  /* 块属性 */
  top: -16px;
}
.protyle-wysiwyg [data-node-id].code-block.protyle-wysiwyg--select > .protyle-linenumber__rows {
  /* 被选中块的行号样式 */
  background-color: var(--b3-theme-primary-lightest) !important;
}