/* ------------------------嵌入块------------------------ */
/* 嵌入块默认样式 */
.protyle-wysiwyg [data-node-id][data-type="NodeBlockQueryEmbed"].render-node {
    border-radius: 0px;
    background-color: var(--custom-block-embed-background-color) !important;
    border: 2px solid var(--custom-line-color);
}

/* 两个连续的嵌入块 */
.protyle-wysiwyg .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] + .render-node[data-node-id][data-type="NodeBlockQueryEmbed"] {
    margin-top: 0.5em;
  }

/* 嵌入块鼠标悬浮样式 */
.protyle-wysiwyg [data-node-id][data-type="NodeBlockQueryEmbed"].render-node:hover {
    border-radius: 0px;
    border: 2px solid var(--b3-tooltips-color);
}