/* ------------------------ 标题 ------------------------ */
.protyle-wysiwyg [data-node-id].h1,
.b3-typography h1 {
  color: var(--custom-h1-color);
  border-radius: 0;
}
.protyle-wysiwyg > [data-node-id].h1 > [contenteditable][spellcheck],
.b3-typography > h1 > [contenteditable][spellcheck] {
  display: flex;
  align-items: center;
}
.protyle-wysiwyg > [data-node-id].h1 > [contenteditable][spellcheck]::after,
.b3-typography > h1 > [contenteditable][spellcheck]::after {
  background-color: var(--custom-h2-color);
  box-shadow: none;
  border-radius: 3px;
  content: "";
  height: 0.15em;
  width: 0.15em;
  opacity: 0.75;
  margin-left: 5px;
}
.protyle-wysiwyg [data-node-id].h2,
.b3-typography h2 {
  color: var(--custom-h2-color);
  border-radius: 0;
}
.protyle-wysiwyg > [data-node-id].h2 > [contenteditable][spellcheck],
.b3-typography > h2 > [contenteditable][spellcheck] {
  display: flex;
  align-items: center;
}
.protyle-wysiwyg > [data-node-id].h2 > [contenteditable][spellcheck]::after,
.b3-typography > h2 > [contenteditable][spellcheck]::after {
  background-color: var(--custom-h2-color);
  box-shadow: 0.25em 0.25em 0 0 var(--custom-h2-color);
  border-radius: 3px;
  content: "";
  height: 0.15em;
  width: 0.15em;
  opacity: 0.75;
  margin-left: 5px;
}
.protyle-wysiwyg [data-node-id].h3,
.b3-typography h3 {
  color: var(--custom-h3-color);
  border-radius: 0;
}
.protyle-wysiwyg > [data-node-id].h3 > [contenteditable][spellcheck],
.b3-typography > h3 > [contenteditable][spellcheck] {
  display: flex;
  align-items: center;
}
.protyle-wysiwyg > [data-node-id].h3 > [contenteditable][spellcheck]::after,
.b3-typography > h3 > [contenteditable][spellcheck]::after {
  background-color: var(--custom-h2-color);
  box-shadow: 0.25em 0.25em 0 0 var(--custom-h3-color), 0 0.25em 0 0 var(--custom-h3-color);
  border-radius: 3px;
  content: "";
  height: 0.15em;
  width: 0.15em;
  opacity: 0.75;
  margin-left: 5px;
}
.protyle-wysiwyg [data-node-id].h4,
.b3-typography h4 {
  color: var(--custom-h4-color);
  border-radius: 0;
}
.protyle-wysiwyg > [data-node-id].h4 > [contenteditable][spellcheck],
.b3-typography > h4 > [contenteditable][spellcheck] {
  display: flex;
  align-items: center;
}
.protyle-wysiwyg > [data-node-id].h4 > [contenteditable][spellcheck]::after,
.b3-typography > h4 > [contenteditable][spellcheck]::after {
  background-color: var(--custom-h2-color);
  box-shadow: 0.25em 0.25em 0 0 var(--custom-h4-color), 0 0.25em 0 0 var(--custom-h4-color), 0.25em 0 0 0 var(--custom-h4-color);
  border-radius: 3px;
  content: "";
  height: 0.15em;
  width: 0.15em;
  opacity: 0.75;
  margin-left: 5px;
}
.protyle-wysiwyg [data-node-id].h5,
.b3-typography h5 {
  color: var(--custom-h5-color);
  border-radius: 0;
}
.protyle-wysiwyg > [data-node-id].h5 > [contenteditable][spellcheck],
.b3-typography > h5 > [contenteditable][spellcheck] {
  display: flex;
  align-items: center;
}
.protyle-wysiwyg > [data-node-id].h5 > [contenteditable][spellcheck]::after,
.b3-typography > h5 > [contenteditable][spellcheck]::after {
  background-color: var(--custom-h2-color);
  box-shadow: 0.25em 0.25em 0 0 var(--custom-h5-color), 0 0.25em 0 0 var(--custom-h5-color), 0.25em 0 0 0 var(--custom-h5-color), 0 -0.25em 0 0 var(--custom-h5-color);
  border-radius: 3px;
  content: "";
  height: 0.15em;
  width: 0.15em;
  opacity: 0.75;
  margin-left: 5px;
}
.protyle-wysiwyg [data-node-id].h6,
.b3-typography h6 {
  color: var(--custom-h6-color);
  border-radius: 0;
}
.protyle-wysiwyg > [data-node-id].h6 > [contenteditable][spellcheck],
.b3-typography > h6 > [contenteditable][spellcheck] {
  display: flex;
  align-items: center;
}
.protyle-wysiwyg > [data-node-id].h6 > [contenteditable][spellcheck]::after,
.b3-typography > h6 > [contenteditable][spellcheck]::after {
  background-color: var(--custom-h2-color);
  box-shadow: 0.25em 0.25em 0 0 var(--custom-h6-color), 0 0.25em 0 0 var(--custom-h6-color), 0.25em 0 0 0 var(--custom-h6-color), 0 -0.25em 0 0 var(--custom-h6-color), 0.25em -0.25em 0 0 var(--custom-h6-color);
  border-radius: 3px;
  content: "";
  height: 0.15em;
  width: 0.15em;
  opacity: 0.75;
  margin-left: 5px;
}
