/* ------------------------ 段落块 ------------------------ */

/* ------------------------ 块行线 ------------------------ */

/* 段落块行线 */
.p {
    padding-bottom: 0px !important;
    border-bottom: 1px dashed var(--custom-separator-color);
}

.p:hover {
    border-radius: var(--custom-border-radius);
    background-color: var(--custom-transparent-light);
}

/* 嵌入块内段落块的行线 */
.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"]>.protyle-wysiwyg__embed .p {
    padding-bottom: 0px !important;
    border-bottom: 1px solid var(--custom-separator-color) !important;
}

/* 引述块内段落块的行线 */
.protyle-wysiwyg [data-node-id].bq .p {
    padding-bottom: 0px !important;
    border-bottom: 1px solid var(--custom-separator-color) !important;
}

/* 横排超级块内段落块行线 */
.protyle-wysiwyg [data-sb-layout="col"].sb .p {
    padding-bottom: 0px !important;
    border-bottom: 1px solid var(--custom-separator-color) !important;
}

.protyle-wysiwyg [data-node-id].sb > .p {
    padding-bottom: 0px !important;
    border-bottom: 1px solid var(--custom-separator-color) !important;
}

/* 超级块内引述块，取消段落块行线 */
.protyle-wysiwyg [data-node-id].sb > .bq > .p {
    padding-bottom: 0px !important;
    border-bottom: none !important;
}

/* 列表转表格，取消段落块行线 */
.protyle-content [custom-type~=table] [data-node-id].li [data-node-id].p,
.protyle-content [custom-type~="表格"] [data-node-id].li [data-node-id].p {
    padding-bottom: 0px !important;
    border-bottom: none !important;
}

/* 列表转脑图，取消段落块行线 */
.protyle-content [custom-type~="思维导图"] [data-node-id].li .p,
.protyle-content [custom-type~="导图"] [data-node-id].li .p,
.protyle-content [custom-type~="脑图"] [data-node-id].li .p,
.protyle-content [custom-type~=mind-map] [data-node-id].li .p,
.protyle-content [custom-type~=map] [data-node-id].li .p {
    padding-bottom: 0px !important;
    border-bottom: none !important;
}

/* ------------------------ 空块提示 ------------------------ */

.protyle-wysiwyg [data-node-id] [spellcheck][contenteditable]:empty:before {
    content: "键入文字";
    opacity: 0.5;
}