/* 超级块 */
@import url(/appearance/themes/Lite/style/module/config.css);

/* 超级块默认样式 */
.protyle-wysiwyg [data-node-id].sb {
    border-radius: var(--custom-border-radius);
    padding: var(--custom-block-padding);
    margin: var(--custom-block-padding);
    background-color: var(--custom-block-super-background-color);
    box-shadow: var(--b3-theme-on-surface-light) 0 0 var(--custom-box-shadow-spread);
}

/* 超级块鼠标悬停时显示边框 */
.protyle-wysiwyg [data-node-id].sb:hover {
    outline: 1px dotted var(--b3-theme-on-surface);
}

/* 嵌入块中的超级块：取消边距和阴影 */
.protyle-wysiwyg [data-node-id][data-type="NodeBlockQueryEmbed"].render-node > .protyle-wysiwyg__embed > [data-node-id].sb {
    padding: 0px;
    margin: 0px;
    box-shadow: none;
}