/* 超级块 */

/* 超级块默认样式 */
.protyle-wysiwyg [data-node-id].sb {
    background-color: var(--custom-block-super-background-color);
    padding: var(--custom-block-padding);
    margin: var(--custom-block-padding);
    outline: 1.5px dashed var(--custom-line-color);
}

/* 超级块鼠标悬停时显示边框 */
.protyle-wysiwyg [data-node-id].sb:hover {
    outline: 1.5px dashed var(--b3-tooltips-color);
}

/* 嵌入块中的超级块：取消边距和阴影 */
.protyle-wysiwyg [data-node-id][data-type="NodeBlockQueryEmbed"].render-node > .protyle-wysiwyg__embed [data-node-id].sb {
    padding: 0px;
    margin: 0px;
    box-shadow: none;
}

/* 嵌套超级块：取消边距和阴影 */
.protyle-wysiwyg [data-node-id].sb [data-node-id].sb {
    padding: 0px;
    margin: 0px;
    box-shadow: none;
}